<header>
    <div class="header-container">
        <div class="row">
            <div class="col-md-6 col-6">
                <h2>
                    DASHBOOK
                </h2>
            </div>
        </div>
        <div class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="toast-title"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="close">
                    <span class="icon">close</span>
                </button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
</header>
