<div class="row p-1 mt-4 mb-6 text-white bg-dark" *ngIf = "groups">
    <div class="col-sm-4">
        <input type="text" [(ngModel)]="groupTitleFilter" class="form-control" placeholder="Search By Title">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-3">
      <div class="form-check form-check-inline">
        <button mat-button type="button" (click)="filterMyGroups()" class="btn btn-light mr-2 pr-2 pl-1" data-toggle="button" aria-pressed="false" autocomplete="off">
          <i class="fa fa-filter" aria-hidden="true"></i> My Groups
        </button>
        <div class="form-check form-check-inline">
          <button mat-button (click)="openNewGroupDialog()" class="btn btn-info pr-2 pl-1">
            <i class="fa fa-plus" aria-hidden="true"></i> New Group
          </button>
        </div>
      </div>
    </div>
</div>

<table *ngIf = "groups" class="table table-striped mt-4">
    <thead class="thead-dark mb-1 pb-1">
      <tr>
        <th class="column-title center">Title</th>
        <th class="column-desc">Description</th>
        <th class="column-type">GroupType</th>
        <th class="column-action">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of filteredGroups | groupFilter:groupTitleFilter">
        <td class="column-title">
            <button class="btn">
                {{group.title}}
            </button>
        </td>
        <td class="column-desc">{{group.description}}</td>
        <td class="column-type">{{group.groupType}}</td>
        <td class="column-action">
            <div>
                <button title="Cards" class="btn btn-outline-info mr-2"><a [routerLink]="[this.group.id, 'cards']"><i class="fa fa-id-card" aria-hidden="true"></i></a></button>
                <button title="Admins" class="btn btn-outline-dark mr-2"><a [routerLink]="[this.group.id, 'admins']"><i class="fa fa-user-circle" aria-hidden="true"></i></a></button>
            </div>
            </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!groups" class="box">
    <div class="row m-2 ml-0">
      <h1>No groups found!</h1>
    </div>
  </div>
