<div class=card>
    <div class="card-body">
        <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="url"><h4 class = "mb-0 pb-0">Enter URL</h4></label>
                <textarea type="text" cols="40" rows="2" formControlName="url" class="form-control" placeholder="www.example.com" [ngClass]="{ 'is-invalid': submitted && urlForm.controls.url.errors }"></textarea>
                <div *ngIf="submitted && urlForm.controls.url.errors" class="invalid-feedback">
                    <div *ngIf="urlForm.controls.url.errors.required">URL is required</div>
                    <div *ngIf="urlForm.controls.url.errors.pattern">Enter a valid URL</div>
                </div>
            </div>
            <div class="form-group">
                <label for="expirationTime"><h4 class = "mb-0 pb-0">Enter Expiration Date</h4></label>
                <input [min]="now" formControlName="expirationTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.urlForm.controls.expirationTime.errors }" 
                [owlDateTime]="expirationTime" [owlDateTimeTrigger]="expirationTime" placeholder="select">
                <owl-date-time #expirationTime></owl-date-time>
                <div *ngIf="submitted && urlForm.controls.url.errors" class="invalid-feedback">
                    <div *ngIf="urlForm.controls.expirationTime.errors.required">For unlimited time? Create card from your account</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-dark p-2 mt-3">Get Tiny URL</button>
            </div>
            <div *ngIf = shortenerDetail>
                <div class="row ml-1 mt-2">
                    <h3>Generated Hash - &nbsp; </h3>
                    <h3 for="urlHash">{{shortenerDetail.shortUrl}}</h3>
                </div>
                <div class="row ml-1">
                    <h3>Redirection URL- &nbsp; <a href = "redirectionUrl">{{redirectionUrl}}</a></h3>
                </div>
            </div>
        </form>
        <div *ngIf = shortenerDetail class="row ml-1">
            <button class="btn btn-outline-info" [cdkCopyToClipboard]="redirectionUrl"><i class="fa fa-file"></i>&nbsp; Copy Link</button>
        </div>
    </div>
</div>
