@import '../../../styles/variables.scss';

header {

    div{
        .row {
            margin: 0;
        }
    }

    background: white;

    .header-container{

        h2 {
            padding: 25px 10px;
            font-size: 50px;
            font-weight: bold;
            
            a {
                color: black;
            }
        }

        .toast {
            z-index: 999;
            position: fixed;
            right: 20px;
            top:90px;
            width: auto;
            min-width: 300px;
        }
    }

}