$gray-ultra-light: #f5f5f5;
$very-light-blue: #e6ffff;
$pale-blue: #e6e6ff;
$pale-green:#ccffe6;
$very-light-brown: #f2e6d9;
$peach: #ffe6e6;
$darker-peach: #ffb3b3;
$darkest-peach: #ff4d4d;
$off-white: #f5f2d0;